.navbar {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 999;
}

.search {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: var(--deep-gray);
}

.search button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
}

.search__icon {
  font-size: 20px;
  color: var(--deep-gray);
}

.user__details {
  display: flex;
  align-items: center;
}

.notice {
  font-size: 24px;
  margin-right: 20px;
  color: var(--deep-gray);
}

.img {
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.user__info {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 10px;
}

.user__info div {
  margin-bottom: 5px;
}

.user__details:hover .user__info {
  display: block;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    left: 0;
    width: 100vw;
    gap: 10px;
    padding: 0 7px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .search {
    background-color: var(--deep-gray);
  }

  .search input[type="text"] {
    outline: none;
  }
}